#texto {
    margin-left: 300px;
    margin-right: 400px;
}

#titulobela {
    font-style: italic;
    text-align: center;
    font-size: 120%;
    font-weight: normal;
    position: relative;
    bottom: 9px;
    margin-bottom: 0px;
}


#inform {
    border: 1px;
    border-style: solid;
    padding: 4px;
    background-color: #f9f9f9;
    position: relative;
    width: 320px;
    bottom: 110px;
    margin-left: 32px;
}

#manga {
    margin-left: 30px;
    margin-top: 5px;
}

#descri {
    text-align: center;
}

#azuu {
    width: 300px;
    height: 45px;
    vertical-align: middle; 
    background-color:#CCCCFF;
    position: relative;
    padding: 4px;
}

#tituloog {
    background-color: #CCCCFF;    
}

#titulojapa {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 1px;
}

#d0 {
    height: 20px;
}

#d1 {
    font-weight: bold;
    text-align: left;
    margin-right: 4px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#d2 {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 40px;
}

#d01 {
    background-color: #CCCCFF;
}

#d-1 {
    text-align: center;
    font-size: 110%;
    margin-bottom: 2px;
    margin-top: 2px;
}

#d012 {
    height: 30px;
    display:flex;
    margin-top: 6px;
}

#d-2 {
    font-family: sans-serif;
    font-weight: bold;
    text-align: left;
    width: 108px;
    height: 40px;
    margin-top: 1px;
}

#d-3 {
    text-align: center;
    display:inline;
    margin-left: 15px;
}

#d013 {
    margin-top: 20px;
    height: 50px;
    display: flex;
}

#d014 {
    height: 43px;
    display: flex;
}

#d015 {
    height: 30px;
    display: flex;
}

#d016 {
    height: 30px;
    display: flex;
}

#d017 {
    height: 30px;
}

#d-4 {
    font-family: sans-serif;
    font-weight: bold;
    text-align: left;
    margin-top: 15px;
    margin: 0px;
}

#d-5 {
    text-align: center;
    margin: 0px;
}

#d-6 {
    text-align: center;

    margin: 0px;
}

#d-7 {
    text-align: center;
    font-size: 10px;
    margin: 0px;
    margin-left: 5px;
    margin-top: 5px;
}

#d-8 {
    font-family: sans-serif;
    font-weight: bold;
    text-align: left;
    width: 108px;
    margin: 0px;
    display: flex;
}

#d-9 {
    text-align: center;
    margin: 0px;
}

#d-10 {
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 1px;
}

#d-11 {
    font-style: oblique;
    text-align: center;
    margin-top: 0px;
    margin-left: 60px;
}

#d-12 {
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 1px;
    margin-bottom: 0px;
}

#d-13 {
    text-align: center;
    font-style: oblique;
    margin: 0px;
    margin-left: 38px;
}

.d-14 {
    font-family: sans-serif;
    font-weight: bold;
    width: 100px;
    margin-top: 0px;
}

.d-15 {
    display: inline;
    position: relative;
    bottom: 54px;
    left: 130px;
}

.d-16 {
    display: table-cell;
    position: relative;
    bottom: 55px;
    left: 129px;
}

#dimg-1 {
    position: relative;
    width: 27px;
}

#dimg-2 {
    position: relative;
    width: 27px;
}

#dimg-3 {
    width: 27px;
    height: 18px;
}