.menu {
    width: 27px;
    position: relative;
    top: -11px;
    margin-left: 36px;
    margin-right: 20px;
}

#div_wikipedia_logo {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    bottom: 5px;
}

#conteudo-do-site {
    display: table;
    margin-left: 300px;
}

#azumanga-daioh-titulo {
    font-style: italic;
    font-weight: normal;
    margin-right: 800px;
    margin-bottom: -5px;
}
#inform {
    border: 1px;
    border-style: solid;
    vertical-align: top;
    padding: 4px;
}
#azuu {
    width: 300px;
    vertical-align: middle; 
    background-color:#CCCCFF;
    position: relative;
    /* bottom: 15px; */
    padding: 4px;
}

#texto {
    margin-left: 300px;
    margin-right: 400px;
}

body {
    margin-left: 180px;
}

#titulobela {
    text-align: center;
}