.menu {
    width: 27px;
    position: relative;
    top: -11px;
    margin-left: 36px;
    margin-right: 20px;
}

#div_wikipedia_logo {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    bottom: 5px;
}

#conteudo-do-site {
    display: table;
    margin-left: 300px;
}

#azumanga-daioh-titulo {
    font-style: italic;
    font-weight: normal;
    margin-right: 800px;
    margin-bottom: -5px;
}


body {
    margin-left: 180px;
}

#estilo {
    margin-bottom: 4px;
    font-weight: inherit;
}

#linha {
    width: 690px;
}

#textoo {
   font-size: 110%;
}